---
export interface Props {
	title: string;
	body: string;
	href: string;
	src:string
	custom: string
}
const { href, title, body, src, custom } = Astro.props;
---

<li class="font-nonheader bg-zinc-800 max-w-lg aspect-square p-4 hover:bg-zinc-700 duration-300 max-md:max-w-xs">
	<a href={href} target='_blank'>
		<img src={src} alt="img" class="bg-slate-300 aspect-[3/2] mb-4">
		<div class="">
			<h2 class=`font-bold text-2xl mb-2 ${custom} `>
				{title}
				<span>&rarr;</span>
			</h2>
			<p class="text-lg">
				{body}
			</p>
		</div>
	</a>
</li>

